extends base.pug
block content
	.ui.segment
		h1.ui.header.aligned.center 设备详情
		.ui.floating.labeled.icon.dropdown.button
			i.filter.icon
			span.text 全部
			.menu
				.header
					i.tags.icon
					| 选取部门
				.divider
				.item
					| 部门1
				.item
					| 部门2
				.item
					| 部门3
		a(href='device.html')
			button.ui.right.labeled.icon.button.primary.basic
				i.right.info.icon
				|   设备信息
		table.ui.structured.table.celled#table.line.single.fixed
			thead
				tr.center.aligned
					th(rowspan=2) 编号
					th(rowspan=2) 设备名称
					th(colspan=12) 基本信息
					th(colspan=7) 检验试验
					th(colspan=2) 设备保养要求
				tr.center.aligned
					th 站点
					th 安装位置
					th 主要部件生产厂家
					th 材料名称
					th 规格型号
					th 进场时间
					th 生产厂家
					th 合格证号
					th 使用部位
					th 现场验收结论
					th 状态（安装/调试）
					th 自检/验收人（监理）
					th 实验方式
					th 取样地点
					th 取样时间
					th 取样人
					th 检验项目
					th 检验日期
					th 执行标准
					th 保养内容
					th 注意事项

			tbody
				- var n=0
				while n < 10
					tr.center.aligned
						td a123
						td 设备#{n++}
						td 站点#{n}
						td 位置#{n}
						td 主要部件生产厂家
						td 材料名称
						td 规格型号
						td 进场时间
						td 生产厂家
						td 合格证号
						td 使用部位
						td 现场验收结论
						td 状态（安装/调试）
						td 自检/验收人（监理）
						td 实验方式
						td 取样地点
						td 取样时间
						td 取样人
						td 检验项目
						td 检验日期
						td 执行标准
						td 保养内容
						td 注意事项
			.ui.icon.orange.message
				i.hide.icon
				.content
					.header
						| 目前没有一条数据
					p 请试着添加一条数据后再试。
			tfoot
				tr
					th(colspan=23)
						.ui.pagination.menu.right.floated
							a.item
								| 1
							.disabled.item
								| ...
							a.item
								| 10
							a.item.active
								| 11
							a.item
								| 12
block script
	script.
		$ ('.ui.dropdown').dropdown ()
