extends base.pug
block content
	.ui.segment
		h1.ui.header.aligned.center 物料信息
		.ui.floating.labeled.icon.dropdown.button
			i.filter.icon
			span.text 全部
			.menu
				.header
					i.tags.icon
					| 选取部门
				.divider
				.item
					| 部门1
				.item
					| 部门2
				.item
					| 部门3
		a(href='material_history.html')
			button.ui.right.labeled.icon.button.primary
				i.right.info.icon
				|   操作记录
		.ui.animated.fade.right.floated.button
			.hidden.content
				i.upload.icon
			.visible.content 导出全部二维码
		.ui.buttons.right.floated
			button.ui.labeled.icon.button.right.floated.my_import
				i.download.icon
				|   导入
			.or
			button.ui.right.labeled.icon.button.my_export
				i.upload.icon
				|   导出
		table.ui.table.celled#table.line.single.fixed
			thead
				tr.center.aligned
					th 编号
					th 物资名称
					th 型号
					th 数量
					th 单位
					th.four.wide 操作

			tbody
				- var n=0
				while n < 10
					tr.center.aligned
						td A2345
						td 钢材
						td AS-123
						td 20#{n++}
						td 吨
						td
							a.ui.vertical.animated.button.positive.basic.center.floated.my_qrcode
								.visible.content 二维码
								.hidden.content
									i.qrcode.icon
							a.ui.vertical.animated.button.primary.basic.center.floated.my_edit_member
								.visible.content 编辑
								.hidden.content
									i.edit.icon
							a.ui.vertical.animated.button.primary.basic.center.floated.my_edit_member
								.visible.content 出\入库
								.hidden.content
									i.edit.icon
							a.ui.vertical.animated.button.negative.basic.center.floated.my_remove
								.visible.content 删除
								.hidden.content
									i.remove.user.icon

			tfoot
				tr
					th(colspan=6)
						button.ui.labeled.icon.button.positive.right.floated.add_depart
							i.users.icon
							|   添加物料
						.ui.pagination.menu.right.floated
							a.item
								| 1
							.disabled.item
								| ...
							a.item
								| 10
							a.item.active
								| 11
							a.item
								| 12
		.ui.modal.member.large
			//i.close.icon
			.header
				| 新增员工
			.image.content
				.ui.form
					.field
						label 基本属性
						.fields
							.field
								input(type='text' placeholder='姓名')
							.field
								input(type='text' placeholder='民族')
							.field
								input(type='text' placeholder='性别')
							.field
								input(type='number' placeholder='血型')
							.field
								input(type='text' placeholder='出生日期')
					.field
						label 部门属性
						.fields
							.field
								input(type='text' placeholder='工号')
							.field
								input(type='text' placeholder='部门')
							.field
								input(type='number' placeholder='职位')
							.field
								input(type='number' placeholder='身份证')
							.field
								input(type='number' placeholder='联系方式')
					.field
						label 点击图片上传图像
						.ui.move.reveal.my_upload
							.visible.content
								img.ui.small.image(src='https://semantic-ui.qyears.com/images/wireframe/square-image.png')
							.hidden.content
								img.ui.small.image(src='https://semantic-ui.qyears.com/images/avatar/large/steve.jpg')

			.actions
				.ui.black.deny.button
					| 取消
				.ui.positive.right.labeled.icon.button
					| 提交
					i.checkmark.icon
		.ui.modal.edit.large
			//i.close.icon
			.header
				| 编辑员工信息
			.image.content
				.ui.form
					.field
						label 基本属性
						.fields
							.field
								input(type='text' placeholder='姓名' value='李旭成')
							.field
								input(type='text' placeholder='民族')
							.field
								input(type='text' placeholder='性别')
							.field
								input(type='number' placeholder='血型')
							.field
								input(type='text' placeholder='出生日期')
					.field
						label 部门属性
						.fields
							.field
								input(type='text' placeholder='工号')
							.field
								input(type='text' placeholder='部门')
							.field
								input(type='number' placeholder='职位')
							.field
								input(type='number' placeholder='身份证')
							.field
								input(type='number' placeholder='联系方式')
					.field
						label 点击图片上传图像
						.ui.move.reveal.my_upload
							.visible.content
								img.ui.small.image(src='https://semantic-ui.qyears.com/images/wireframe/square-image.png')
							.hidden.content
								img.ui.small.image(src='https://semantic-ui.qyears.com/images/avatar/large/steve.jpg')

			.actions
				.ui.black.deny.button
					| 取消
				.ui.positive.right.labeled.icon.button
					| 提交
					i.checkmark.icon
		.ui.basic.modal.remove
			.ui.icon.header
				i.remove.user.icon
				|  确认删除用户吗?
			.content
				p 该用户的所有信息会清空,重新添加用户时二维码重新生成!
			.actions
				.ui.red.basic.cancel.inverted.button
					i.remove.icon
					|       否
				.ui.green.ok.inverted.button
					i.checkmark.icon
					|       是

		.ui.modal.qrcode.large.basic.icon
			.ui.icon.header
				img(src='https://semantic-ui.qyears.com/images/avatar/large/steve.jpg').icon.my_img
				| 李徐成
			.image.content
				.description
					.ui.vertically.divided.grid(style='margin-left:-4rem')
						.four.column.row
							.column
								p 工号
							.column
								p A123
							.column
								p 头像
							.column
								img(src='https://semantic-ui.qyears.com/images/avatar/large/steve.jpg' style='margin:0 0;').ui.mini.image.rounded.my_img
						.four.column.row
							.column
								p 联系方式
							.column
								p 123456789
							.column
								p 性别
							.column
								p 男
						.four.column.row
							.column
								p 民族
							.column
								p 汉族
							.column
								p 血型
							.column
								p o型
						.four.column.row
							.column
								p 身份证
							.column
								p 6101221111111
							.column
								p 出生日期
							.column
								p 1999.99.99
						.four.column.row
							.column
								p 职位
							.column
								p 部长
							.column
								p 部门
							.column
								p 技术部
			.actions
				.ui.black.deny.button
					| 取消
				.ui.positive.right.labeled.icon.button
					| 下载二维码
					i.checkmark.icon
block script
	script.
		$ ('.add_depart').click (function () {$ ('.ui.modal.member').modal ('show')})
		$ ('.my_edit_member').click (function () {$ ('.ui.modal.edit').modal ('show')})
		$ ('.my_qrcode').click (function () {$ ('.ui.modal.qrcode').modal ('show')})
		$ ('.my_remove').click (function () {$ ('.ui.modal.remove').modal ('show')})
		$ ('.ui.dropdown').dropdown ()
