doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		title a
		link(rel='stylesheet' href='../style/semantic.min.css')
		link(rel='stylesheet' href='../style/mobile.css')
		script(src='../javascript/jquery-3.2.1.min.js')
		script(src='../javascript/semantic.min.js')
		block link
	body
		.bg
			img(src='../static/mobile.jpg')
		header.header
			block header
			img(src='../static/logo.png')
			span IQ信息管理系统
		block content
		footer.footer
			.row 中铁电气化局集团有限公司西安电务工程分公司
			.desc
				.left ©China Railway Electrification Bureau Group Co., Ltd. Xi'an Electrical Engineering Branch
				.right
					img(src="../static/header.png")
		block script
