extends mobile.pug
block content
	.content
		.table
			.title 安全信息
			.row
				span 编号
				span 1
			.row
				span 标题
				span 文件1
			.row
				span 分别
				span 员工岗前培训
			.row.click
				span 查看文件
				i.angle.right.icon



