extends mobile.pug
block content
	.content
		.table
			.title 进度信息
			.row
				span 编号
				span 1
			.row
				span 施工地点
				span 车站
			.row
				span 作业名称
				span 设备安装
			.row
				span 专业
				span 电力变电
			.row
				span 单位
				span 台
			.row
				span 开累完成率
				span 85%
			.row
				span 设计总量
				span 33
			.row
				span 开累完成量
				span 6
			.row
				span 剩余总量
				span 27
			.row
				span 上周计划完成量
				span 1
			.row
				span 上周实际完成量
				span 2
			a.row.click(href="schedule_item_mobile.html")
				span 进度报表
				i.angle.right.icon




