extends mobile.pug
block header
	.home
		i.chevron.left.icon
block content
	.content
		.table
			.title 技术信息
			.desc 全部专业->选择专业
			.row.click
				span 电力变电
				i.angle.right.icon
			.row.click
				span 接触网
				i.angle.right.icon
			.row.click
				span 通信
				i.angle.right.icon
			.row.click
				span 信号
				i.angle.right.icon




